@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #e5e5e5;
  max-width: 100%;
  overflow-x: hidden;
}

.socialLogo {
  font-size: 24px;
  color: rgb(30, 48, 80);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

.hide {
  display: none;
}

.popUp {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.popUp-content {
  background-color: #fff;
  width: 90%;
  margin: 16px auto 0 auto;
  border-radius: 16px;
}

.tonic-see-live {
  width: 150px;
  height: 43px;
  left: calc(50% - 150px / 2);
  margin-right: 10px;
  background: #fff;
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding-bottom: 5px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #6070ff;
}

.menu-header {
  display: flex;
  color: #fff;
  justify-content: space-between;
  margin-left: 45px;
  margin-top: 8px;
  margin-right: 16px;
}

.error-output {
  background-color: red;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.menu-time {
  margin-top: 5px;
  flex-grow: 2;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  letter-spacing: -0.28px;
  color: #fff;
}

.menu-links-item>a {
  text-decoration: none;
  color: #fff;
}

.home-wrapper {
  background-color: #fff;
  border-bottom-left-radius: 100px;
}

nav ul {
  display: flex;
  display: none;
}

li.links-transition {
  transition: all 0.5s ease-out;
  padding: 5px;
  height: 48px;
}

li.links-transition:hover {
  color: #fff;
  background-color: #4150db;
  animation: shake;
  animation-duration: 1s;
}

li.links-transition:focus {
  color: #fff;
  background-color: #2230d2;
  animation: shake;
  animation-duration: 1s;
}

@keyframes shake {
  from {
    transition: all 0.5s ease-out;
  }

  to {
    transition: all 500ms ease-in-out;
  }
}

.wide-screen-views {
  display: none;
}

.header-wrapper {
  background-color: #fff;
}

.header-top {
  display: flex;
  flex-direction: row;
  margin: 0 24px 0 24px;
  align-items: center;
  vertical-align: baseline;
}

.header-top .time {
  margin-top: 5px;
  flex-grow: 2;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  letter-spacing: -0.28px;
  color: #000;
}

.links li {
  list-style: none;
  margin-right: 10px;
}

.linkColor {
  color: #fff;
}

.linkColor:hover {
  color: #fff;
}

.logo a {
  text-decoration: none;
}

.links li a {
  color: #344563;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  align-items: center;
  margin: 0 36px 0 24px;
}

.header .logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  color: #6070ff;
  align-items: center;
  text-align: center;
  animation: rotate-logo;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes rotate-logo {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.headline {
  display: flex;
  flex-direction: column;
  padding-bottom: 136px;
}

.choose-screen:hover {
  cursor: pointer;
  display: block;
}

.headline-last-part {
  display: flex;
  flex-direction: column;
  margin-top: 114px;
  padding-bottom: 136px;
}

.headline-background {
  background-image: url('../images/background.png');
  background-size: cover;
}

.introduction {
  margin: 114px 24px 0 24px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
}

.introduction-about-myself {
  margin: 114px 24px 0 24px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
}

h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex-grow: 0;
  margin: 12px 24px 12px 24px;
  align-self: flex-start;
  font-family: 'Poppins', sans-serif;
}

.social {
  list-style: none;
  display: flex;
  margin-left: 24px;
  padding: 0;
}

.modal-div {
  margin: auto;
}

.social li {
  padding-right: 15px;
}

.description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-right: 24px;
  margin: 12px 24px 12px 24px;
}

.small-screen-view-des {
  display: block;
}

.full-screen-view-des {
  display: none;
}

.flex-element-order {
  order: 0;
}

.projects-gid-container {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 114px;
  margin: 114px 24px 0 24px;
}

.my-works {
  margin-top: 114px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  padding: 16px 16px 28px 16px;
  align-items: flex-start;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  justify-content: center;
}

.menu-close {
  color: #fff;
  float: right;
  font-size: 34px;
  margin-top: 10px;
  margin-right: 38px;
}

.menu-close:hover,
.menu-close:focus {
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.wide-screen-view-modal {
  display: none;
}

.tonic-see-live:focus {
  color: #fff;
  background-color: #2230d2;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
}

.tonic-see-live:hover {
  color: #fff;
  background-color: #6070ff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
}

.my-worksRev {
  margin-top: 114px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  padding: 16px 16px 28px 16px;
  align-items: flex-start;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  justify-content: center;
}

.menu-modal {
  display: none;
  width: 100%;
  margin: 0;
  background-color: rgba(96, 112, 255, 0.95);
  height: 100vh;
  position: fixed;
  z-index: 18;
}

.tonic-project-modal-content {
  width: 100%;
  margin: 0;
  background-color: rgba(193, 199, 208, 0.8);
  height: 100vh;
  position: fixed;
  z-index: 19;
  overflow: auto;
}

.tonic-project-modal-footer {
  margin-top: 15px;
}

.project-languages-tonic {
  width: 100%;
  display: flex;
  justify-self: flex-start;
  border-bottom: 1px solid #ebecf0;
}

.my-work-languages-tonic {
  list-style: none;
  display: flex;
  padding: 0;
  margin-left: 10px;
  margin-bottom: 24px;
}

.tonic-project-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
  position: relative;
  margin: 40px auto;
  background: #fff;
  border-radius: 16px;
}

.tonic-project-modal-header {
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: 768px) and (max-width: 959px) {
  .wide-screen-view-modal {
    display: block;
    object-fit: cover;
    height: 350px;
    align-items: center;
    border-radius: 8px;
  }

  .modal-pic-full {
    width: 100%;
  }

  .img-wide-screen-modal {
    margin: 0;
    height: 40%;
    width: 100%;
  }
}

@media (min-width: 959px) {
  .wide-screen-view-modal {
    display: block;
    height: 450px;
    object-fit: cover;
    align-items: center;
    border-radius: 8px;
    width: calc(100% - 48px);
    margin-left: 50%;
    margin-right: 50%;
  }

  .modal-pic-full {
    width: 100%;
  }

  .img-wide-screen-modal {
    margin: 0;
    height: 586px;
    width: calc(100% - 48px);
    border-radius: 8px;
    margin-left: 50%;
    margin-right: 50%;
  }
}

.img-wide-screen-modal {
  margin: 0;
}

.style-image {
  width: 100%;
}

.tonic-see-live-img {
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.tonic-project-modal-body {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.project-aside {
  display: flex;
  flex-direction: column;
}

.project-aside-description {
  width: 100%;
}

.project-aside-languages {
  display: flex;
  flex-direction: column;
}

.project-description-tonic {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin: 12px 12px 0 12px;
}

.tonic-project-modal-header-techs {
  display: block;
  align-self: flex-start;
}

.tonic-h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.tonic-h2-modal {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  align-self: flex-start;
  color: #172b4d;
}

.my-img {
  width: 80px;
  height: 70px;
}

.tonic-project-close {
  color: #67798e;
  font-size: 34px;
  display: flex;
  justify-content: flex-end;
}

.tonic-project-close:hover,
.tonic-project-close:focus {
  color: #67798e;
  cursor: pointer;
  font-weight: bold;
}

.menu-modal-content {
  color: #fff;
  margin: 95px 2px 0 2px;
  overflow: hidden;
  z-index: 15;
}

.menu-links {
  list-style: none;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
}

.menu-links-item {
  color: #fff;
  margin-bottom: 20px;
}

.works-image {
  border-radius: 5px;
  align-self: center;
}

.wide-screen-view {
  display: none;
}

.works-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.desktop {
  display: none;
}

.my-works-project-title {
  margin-top: 4px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  width: 295px;
  height: 36px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-headers {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.title-header {
  width: 20%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  flex-grow: 0;
}

.dot-separator {
  width: 12px;
  height: 12px;
  background: #c1c7d0;
  flex: none;
  flex-grow: 0;
}

.title-header-general {
  width: 88px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.project-description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex-grow: 0;
  margin-top: 24px;
}

.project-languages {
  width: 100%;
  display: flex;
  justify-self: flex-start;
}

.coding-languages {
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex-grow: 0;
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  margin-top: 16px;
  margin-right: 8px;
}

.my-work-languages {
  list-style: none;
  display: flex;
  padding: 0;
}

.small-screen-view {
  display: block;
  margin: 0;
}

.small-screen-view-languages {
  display: none;
}

.small-screen-view-none {
  display: block;
}

.project-more {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 12px;
}

.works-see-more {
  margin-top: 14px;
  margin-left: 0;
  width: 180px;
  height: 48px;
  justify-content: flex-start;
  padding: 12px;
  background: #fff;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  flex-grow: 0;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #396df2;
  transition: all 0.5s ease-out;
}

.actual-languages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-me-skills {
  list-style: none;
  margin: 0 24px;
  padding: 0;
}

.my-skills {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  color: #000;
  margin-top: 36px;
}

.language-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
  margin-top: 36px;
}

.programing-languages {
  display: flex;
  height: 70px;
  background: #f7f7f9;
  border-radius: 8px;
  flex-grow: 0;
  margin-top: 12px;
}

.language-icons {
  padding: 10px;
}

.align-language-text {
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.my-other-skills {
  display: flex;
  justify-content: space-between;
  margin: 20px 60px 20px 14px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.line-break {
  width: 100%;
  border: 1px solid #dfe1e6;
  margin: 23px 0 0 0;
}

.arrows-right {
  float: right;
  margin-right: 20px;
}

.last-part {
  background-color: #fff;
  border-top-right-radius: 100px;
}

.contact-me {
  margin-top: 114px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #6070ff;
  border-top-left-radius: 100px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.input-type {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  height: 48px;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding-left: 10px;
}

.input-type-textarea {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

.wrapper {
  margin-left: 14px;
  margin-right: 14px;
}

.primary-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #fff;
  margin-top: 103px;
}

.secondary-text {
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.get-in-touch {
  margin-top: 20px;
  padding: 12px 12px;
  width: 142px;
  height: 48px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  border: 1px solid #7f8cff;
  margin-bottom: 50px;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.wide-screen-view-title {
  display: none;
}

.get-in-touch:hover,
.works-see-more:hover {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  flex-grow: 0;
  padding: 12px;
  gap: 10px;
  height: 48px;
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  cursor: pointer;
}

.modal-pic-full {
  width: 100%;
}

.get-in-touch:active,
.works-see-more:active {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  flex-grow: 0;
  padding: 12px;
  gap: 10px;
  height: 48px;
  background: #2230d2;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
}

.wide-screen-none {
  display: none;
}

@media (min-width: 768px) {

  .header-top,
  .choose-screen {
    display: none !important;
  }

  .project-aside-description {
    width: 70%;
    margin-bottom: 20px;
  }

  .menu-modal {
    display: none;
  }

  .wide-screen-none {
    display: block;
  }

  .small-screen-view-none {
    display: none;
  }

  .project-aside {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
  }

  .header {
    margin: 0 36px 0 24px;
  }

  .header-wrapper {
    margin: 0 154px;
  }

  .headline {
    display: flex;
    flex-direction: column;
    padding-bottom: 255px;
    margin: 0 154px 0 154px;
    z-index: 8;
  }

  .headline-last-part {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .headline-background {
    background-image: url('../images/background.png');
    background-size: cover;
  }

  .projects-gid-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .flex-element-order {
    order: 1;
  }

  .deskFlex {
    display: flex;
    flex-direction: column;
  }

  .my-work-languages-tonic {
    margin-bottom: 10px;
  }

  .my-works {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    margin-top: 142px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    width: 80%;
  }

  .my-worksRev {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    background-color: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    margin-top: 142px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    width: 80%;
  }

  .my-skills {
    color: #000;
  }

  .img-wide-screen {
    width: 544px;
    height: 445px;
    margin: 20px 0 0 24px;
    padding-bottom: 24px;
  }

  .small-screen-view-des {
    display: none;
  }

  .full-screen-view-des {
    display: block;
  }

  .tonic-project-close {
    color: #67798e;
    font-size: 34px;
    margin-right: 2px;
  }

  .wider-screen-project-definition {
    display: flex;
    flex-direction: column;
    margin-left: 46px;
    width: 544px;
    height: 445px;
  }

  .wide-screen-view-title {
    display: block;
  }

  .my-works-project-title {
    font-weight: 700;
    font-size: 40px;
    margin-top: 10px;
    width: 496px;
    color: #091e42;
  }

  .wide-screen-views {
    display: block;
  }

  .wide-screen-view {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    align-items: center;
  }

  .small-screen-view-languages {
    display: block;
  }

  .small-screen-view {
    display: none;
  }

  .contact-form {
    align-items: center;
  }

  .title-header {
    width: 20%;
    height: 24px;
    font-size: 18px;
    line-height: 24px;
    margin-top: 20px;
  }

  .title-header-general {
    width: 130px;
    height: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-top: 20px;
  }

  .hide {
    display: none;
  }

  .popUp {
    max-height: 100%;
    overflow-y: auto;
    z-index: 1000;
  }

  .popUp-content {
    width: 80%;
    margin: 50px auto 50px auto;
  }

  .project-description {
    width: 496px;
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
  }

  .dot-separator {
    margin-top: 20px;
  }

  .works-see-more {
    margin-top: 45px;
    margin-bottom: 152px;
  }

  .wide-screen-divide {
    height: 50px;
  }

  .project-languages {
    margin-top: 25px;
  }

  .screen-view-button {
    background-color: #4053fc;
    color: #fff;
  }

  .wide-screen-title {
    display: block;
  }

  .project-aside-languages {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .desktop {
    display: block;
  }

  .wide-screen-about-me {
    margin-top: 142px;
    width: 100%;
    height: 924px;
  }

  .wide-screen-col-about {
    width: 520px;
    height: 392px;
    margin-top: 142px;
  }

  .description {
    margin-top: 12px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .actual-languages {
    width: 684px;
    height: 360px;
    margin-top: 142px;
  }

  .tonic-project-modal-header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .introduction {
    margin-top: 314px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #091e42;
  }

  .introduction-about-myself {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #091e42;
    margin-top: 0;
  }

  .input-type-textarea {
    height: 170px;
    width: 447px;
    border-radius: 2px;
  }

  .wide-screen-input {
    display: block;
  }

  .language-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 36px;
  }

  .programing-languages {
    display: flex;
    flex-direction: column;
    width: 122px;
    height: 120px;
    background: #f7f7f9;
    border-radius: 8px;
    flex-grow: 0;
    margin-right: 12px;
  }

  .language-icons {
    width: 48px;
    height: 48px;
    padding: 5px;
  }

  .align-language-text {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #253858;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 24px;
    width: 801px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .input-type {
    width: 447px;
  }
}