@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: grey url("images/header-background-mobile.png");
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

nav ul {
  display: flex;
  display: none;
}

.links li {
  list-style: none;
  margin-right: 10px;
}

.logo a {
  text-decoration: none;
}

.links li a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin: 0 24px 0 24px;
}

.header .logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  color: #6070ff;
  align-items: center;
  text-align: center;
}

.headline {
  margin-top: 114px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url(../images/header-shape.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}

h1 {
  margin: 0 24px 0 24px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: #172b4d;
}

h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex-grow: 0;
  margin: 12px 24px 12px 24px;
  align-self: flex-start;
  font-family: 'Poppins', sans-serif;
}

.social {
  list-style: none;
  display: flex;
  margin-left: 24px;
  padding: 0;
}

.social li {
  padding-right: 15px;
}

.description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 12px 24px 12px 24px;
}

.my-works {
  margin: 14px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: #ffffff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  justify-content: baseline;
}

.works-image {
  border-radius: 8px;
  align-self: center;
}

.works-description {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

.my-works-project-title {
  margin-top: 4px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  width: 295px;
  height: 36px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works-headers {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-between;
  margin-top: 20px;
}

.title-header {
  width: 55px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  flex-grow: 0;
}

.dot-separator {
  width: 20px;
  height: 20px;
  background: #c1c7d0;
  flex: none;
  flex-grow: 0;
}

.title-header-general {
  width: 88px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.project-description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex-grow: 0;
}

.project-languages {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 12px;
}

.coding-languages {
  justify-items: baseline;
  justify-content: flex-start;
  padding: 10px;
  margin-left: 0;
  margin-right:10px ;
  background: #ebebff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex-grow: 0;
}

.project-more {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 12px;
}

.works-see-more{
  margin-top: 14px;
  margin-left: 0;
  width: 200px;
  justify-content: flex-start;
  padding: 16px;
  background: #ffffff;
  border: 1px solid #6070ff;
  border-radius: 16px;
  flex-grow: 0;
}

.more-text {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #396df2;
}

.coding-languages-i-know {
  display: flex;
  justify-content: space-between;
  margin: 14px
}

.my-skills {
  flex-grow: 2;
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px/2);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  color: #000000;
}

.language-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-left: 14px;
  margin-right: 14px;
  list-style: none;
}

.programing-languages {
  display: flex;
  height: 70px;
  background: #f7f7f9;
  border-radius: 8px;
  flex-grow: 0;
  margin-top: 5px;
}

.language-icons {
  padding: 10px;
}

.align-language-text {
  margin-top: 20px;
  font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.my-frameworks {
  display: flex;
  justify-content: space-between;
  margin: 36px 60px 20px 14px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.my-other-skills {
  display: flex;
  justify-content: space-between;
  margin: 20px 60px 20px 14px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.line-break {
  width: 100%;
  border: 1px solid #dfe1e6;
  margin-left: 14px;
  margin-right: 14px;
}

.contact-me {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #6070FF;
  border-top-left-radius: 100px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.input-type {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  height: 48px;
  margin-top: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding-left: 10px;
}

.input-type-textarea {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

.wrapper {
  margin-left: 14px;
  margin-right: 14px;
}

.primary-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-top: 50px;
  align: center;
}

.secondary-text {
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.get-in-touch {
  margin-top: 20px;
  padding: 12px 12px;
  width: 140px;
  height: 50px;
  background: #ffffff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  border: 1px solid #ffffff;
  margin-bottom: 50px;
}
